# Use root/example as user/password credentials

services:

  db:
    image: mariadb
    restart: always
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: example
    volumes:
      - ./mariadb_data:/var/lib/mysql


